{% extends 'layouts.master' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
					<h2>Practical <span>Reliable</span> Webinars</h2>
                    <p>Welcome!</p>
					{% if currentUser.is_admin %}
                        <p>
                            See all <a href="/admin/webinars">webinars</a>
                        </p>
                    {% else %}
                        <p>
                            See all your <a href="/webinars">webinars</a> or <a href="/webinar/new">host a new webinar</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
